!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
.precomp
precompiled
doc
html/*.html
html/css/app.css
html/perl6.xhtml
html/routine/
html/type/
html/op/
html/language/
html/programs/
html/syntax/
html/images/type-graph*
html/js/search.js
html/js/app.js
.pod-cache
*.swp
index.data
*~
assets/assetpack.db
assets/cache
.sass-cache/
links.txt
links.tmp
xt/aspell.pws
highlights/node_modules
**/npm-debug.log
highlights/atom-language-perl6/
.DS_store
highlights/package-lock.json
.pod-cache
retest
build/
node_modules/
package-lock.json
*.epub
.vscode