!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
.precomp
precompiled
doc
resources/html/*.html
resources/html/css/app.css
resources/html/perl6.xhtml
resources/html/routine/
resources/html/type/
resources/html/op/
resources/html/language/
resources/html/programs/
resources/html/syntax/
resources/html/images/type-graph*
resources/html/js/search.js
resources/html/js/app.js
.pod-cache
*.swp
index.data
*~
resources/assets/assetpack.db
resources/assets/cache
.sass-cache/
links.txt
links.tmp
xt/aspell.pws
**/npm-debug.log
.DS_store
retest
build/
node_modules/
assets
assets/*
html
html/*
package-lock.json
*.epub
.vscode
app.pl
app-start
Makefile
.cache-*
.t
*.iml
